swarm/xcp-ng/
k3os/proxmox/.terraform.lock.hcl
k3os/proxmox/.terraform/
k3os/proxmox/.secrets
k3os/vsphere/.terraform/
k3os/vsphere/.terraform.lock.hcl
k3os/vsphere/.secrets
k3os/vsphere/packer/variables.pkrvars.hcl
