swarm/xcp-ng/
swarm/proxmox/.terraform.lock.hcl
swarm/proxmox/.terraform/
swarm/proxmox/terraform.tfstate
swarm/proxmox/terraform.tfstate.backup
swarm/proxmox/secrets.auto.tfvars
swarm/proxmox/packer/config/swarm-packer.yml
swarm/proxmox/packer/variables.pkrvars.hcl
swarm/proxmox/ansible/
swarm/proxmox/modules/config/templates/
swarm/proxmox/modules/provision/inventory.yml
swarm/proxmox/modules/provision/ansible/roles/worker/vars/main.yml
swarm/proxmox/modules/provision/ansible/roles/manager/vars/main.yml
swarm/proxmox-fcos/
k3os/proxmox/.terraform.lock.hcl
k3os/proxmox/.terraform/
k3os/proxmox/.secrets
k3os/proxmox/packer/variables.pkrvars.hcl
k3os/vsphere/.terraform/
k3os/vsphere/.terraform.lock.hcl
k3os/vsphere/.secrets
k3os/vsphere/packer/variables.pkrvars.hcl
templates/