#cloud-config
hostname: ${name}
growpart:
    mode: auto
    devices: ["/"]
    ignore_growroot_disabled: false
users:
  - default
  - name: root
%{ if length(ssh_key) != 0 ~}
    ssh_authorized_keys:
%{ for key in ssh_key ~}
      - ${key}
%{ endfor ~}
%{ endif ~}
%{ if length(ssh_id) != 0 ~}
    ssh_import_id:
%{ for id in ssh_id ~}
      - ${id}
%{ endfor ~}
%{ endif ~}
  - name: docker
    gecos: Docker User
    lock-passwd: true
    primary_group: docker
    groups: wheel, adm
    sudo: ALL=(ALL) NOPASSWD:ALL
%{ if length(ssh_key) != 0 ~}
    ssh_authorized_keys:
%{ for key in ssh_key ~}
      - ${key}
%{ endfor ~}
%{ endif ~}
%{ if length(ssh_id) != 0 ~}
    ssh_import_id:
%{ for id in ssh_id ~}
      - ${id}
%{ endfor ~}
%{ endif ~}
  - name: cephuser
    gecos: Ceph Admin User
    lock-passwd: true
    primary_group: ceph
    groups: wheel, docker, adm
    sudo: ALL=(ALL) NOPASSWD:ALL
%{ if length(ssh_key) != 0 ~}
    ssh_authorized_keys:
%{ for key in ssh_key ~}
      - ${key}
%{ endfor ~}
%{ endif ~}
%{ if length(ssh_id) != 0 ~}
    ssh_import_id:
%{ for id in ssh_id ~}
      - ${id}
%{ endfor ~}
%{ endif ~}
write_files:
  - path: /root/smb-creds
    content: |
      user=${smbuser}
      password=${smbpass}
      domain=${smbdomain}
    owner: root:root
    permissionss: 0600
  - path: /etc/dnf/dnf.conf
    content: |
      max_parallel_downloads=10
      fastestmirror=true
    append: true
mounts:
%{ for mount_key, mount_value in mounts ~}
  - [ "${mounts[mount_key].source}", ${mounts[mount_key].destination}, "${mounts[mount_key].type}", "${mounts[mount_key].options}" ]
%{ endfor ~}
final_message: "Finished configuring!"
runcmd:
  - hostnamectl set-hostname ${name}
  - echo "My hostname is $(hostname)."
%{ if network.config == "static" ~}
  - systemctl restart systemd-networkd
%{ endif ~}
  - ip addr