network:
  version: 1
  config: ${network.config == "static" ? "static" : "dhcp"}
  %{if network.config == "static"}
  - type: physical
    name: eth0
    subnets:
      - type: static
        address: ${network.address}/${network.subnet}
        gateway: ${network.gateway}
        dns_nameservers:
          %{ for ns in network.nameservers ~}
          - ${ns}
          %{ endfor ~}
        %{ if network.domain != "" ~}
        dns_search:
          - ${network.domain}
        %{ endif ~}
  %{ endif ~}