network:
  version: 1
  config: ${config == "static" ? "static" : "dhcp"}
  %{ if config = "static" }
  - type: physical
    name: eth0
    subnets:
      - type: static
        address: ${vm-ip-address}/${subnet}
        gateway: ${gateway}
        dns_nameservers:
          %{ for ns in nameservers ~}
          - ${ns}
          %{ endfor }
        %{ if domain != "" }
        dns_search:
          - ${domain}
        %{ endif }
  %{ endif }