vcenter_server    = ""
vcenter_host      = ""
vcenter_username  = ""
vcenter_password  = ""
vcenter_datastore = ""
vcenter_folder    = ""
vcenter_network   = ""
vcenter_iso_path  = ""
# config_url        = ""
k3os_version      = ""
# ssh_username      = ""
# ssh_password      = ""